*{
  font-family: verdana;
  color: #4D6D9A;
}

h1{
  text-align: center;
  margin-top: 20px;
}

.homeButton{
  position: absolute; 
  right: 10px;
  border: 2px solid #4D6D9A; 
  background-color: white; 
  cursor: pointer; 
  border-radius: 10px;
}

.homeButton:hover{
  opacity: 50%;
}

.startStopButton{
  border: 2px solid #4D6D9A; 
  background-color: white; 
  cursor: pointer; 
  border-radius: 10px;
}

.startStopButton:hover{
  opacity: 50%;
}


/* note: the next classes represent a "toggle button" in that the button is used to toggle the animation, 
but looks like a normal button - it's different from toggle switch (which has classes further down) */
.toggleAnimStyleButton{
  border: 2px solid #4D6D9A; 
  background-color: white; 
  cursor: pointer; 
  border-radius: 10px;
}

.toggleAnimStyleButton:hover{
  opacity: 50%;
}

.hiddenDiv{
  display: none;
}

.centeredText{
  text-align: center;
}

.grid-container{
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 5%;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.leftColumn{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 6px solid #86B3D1;
  border-bottom-right-radius: 50px;
}

hr{
  height: 1px;
  background-color: #86B3D1;
  border: none;
}

#metronomeCanvas{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 400px;
}




/* how to make an html dot (for circular animation): https://www.w3schools.com/howto/howto_css_circles.asp */
.dot {
  height: 125px;
  width: 125px;
  background-color: #fff;
  border: 2px solid #4D6D9A;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}




/* Change color animation: https://www.w3schools.com/css/css3_animations.asp */
.lightUpAnimationRed{
  animation-name: flashRed;
  animation-duration: 0.2s;
}

@keyframes flashRed{
  0%{background-color: #fff;}
  50%{background-color: #EDB5BF;}
  100%{background-color: #fff;}
}

.lightUpAnimationGreen{
  animation-name: flashGreen;
  animation-duration: 0.2s;
}

@keyframes flashGreen{
  0%{background-color: #fff;}
  50%{background-color: #B3CF99;}
  100%{background-color: #fff;}
}





/*  slider bar classes from: https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider {
  -webkit-appearance: none;
  width: 95%;
  height: 20px;
  background: #86B3D1;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 20px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  background: #4D6D9A;
  cursor: pointer;
  border: 4px solid #4D6D9A;
}





/* Toggle switch classes adapted from: https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switchSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switchSlider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switchSlider {
  background-color: #86B3D1;
}

input:focus + .switchSlider {
  box-shadow: 0 0 1px #86B3D1;
}

input:checked + .switchSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switchSlider.round {
  border-radius: 34px;
}

.switchSlider.round:before {
  border-radius: 50%;
}